h1 {
  color: white;
  background-color: navy;
}

body {
  background-image: url(https://image.shutterstock.com/image-vector/abstract-blue-light-circuit-microchip-260nw-1165735282.jpg);
}

#completed_task {
  color: black;
  text-decoration: line-through;
}

p {
  text-align: center;
}

h3 {
  text-align: right;
}
