h1 {
  color: white;
  background-color: navy;
}

body {
  background-image: url(https://img.freepik.com/free-vector/abstract-banner-background-with-red-shapes_1361-3348.jpg?size=626&ext=jpg);
}

#completed_task {
  color: black;
  text-decoration: line-through;
}

p {
  text-align: center;
}

h3 {
  text-align: right;
}
