h1 {
  color: white;
  background-color: navy;
}

h2 {
  color: black;
  background-color: aqua;
  text-align: center;
}

body {
  background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20200731/pngtree-blue-carbon-background-with-sport-style-and-golden-light-image_371487.jpg);
}

#completed_task {
  color: black;
  text-decoration: line-through;
}

p {
  color: white;
}

h3 {
  text-align: right;
}

ol {
  background: dodgerblue;
}
